{% extends 'core/base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
    <div class="container-fluid p-4 bg-gray-100 rounded-xl text-center mt-5 mb-5">
        <h1 class="text-3xl font-bold text-pink-600">Shopping Cart</h1>

        <div class="container-fluid p-4 rounded-xl mt-5 mb-5 d-flex justify-content-center">
            <div class="d-flex flex-column align-items-center w-100">
                {% if cartItems %}
                    {% for item in cartItems %}
                        <div class="card mb-3" style="max-width: 1000px;">
                            <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ item.image.url }}" class="img-fluid rounded-start" alt="{{ item.name }}">
                            </div>
                            <div class="col-md-8 d-flex align-items-center">
                                <div class="card-body">
                                <h5 class="card-title font-semibold text-xl">{{ item.name }}</h5>
                                <small class="card-text text-gray-400 mt-2 mb-2">{{ item.description }}</small><br>
                                <br><p class="card-text">Price: {{ item.price }}</p><br>
                                <div class="row justify-content-center">
                                    <div class="col-md-2">
                                    <p class="text-lg">Quantity:</p>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-select" id="select{{ item.id }}">
                                            <option selected>
                                                {% for key, value in quantities.items %}
                                                    {% if key == item.id|slugify %}
                                                        {{ value }}
                                                    {% endif %}
                                                {% endfor %}
                                            </option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" data-index="{{ item.id }}" class="btn text-lg font-semibold bg-pink-400 text-white rounded-xl hover:bg-pink-600 updateCart">Update</button>
                                    </div>
                                    <div class="col-md-1">
                                        <button type="button" data-index="{{ item.id }}" class="btn text-lg font-semibold bg-purple-400 text-white rounded-xl hover:bg-purple-600 deleteItem d-flex align-items-center justify-content-center">
                                            Delete
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash ml-1" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                            </svg>
                                        </button>
                                    </div>
                            </div>
                                
                            </div>
                            </div>
                            </div>

                            
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-lg"><em>Your cart is empty</em></p>
                    <br><br><br><br><br><br><br><br><br><br><br><br>
                {% endif %}
            </div>
          </div>




<script>
    // Update cart item quantity
    $(document).on('click', '.updateCart', function(e){
        e.preventDefault();
        // Grab the item id
        var itemId = $(this).data('index');
        var quantity = $('#select' + itemId + ' option:selected').text();

        $.ajax({
            type: 'POST',
            url: '{% url "cart:cartUpdate" %}',
            data:{
                product_id: itemId,
                product_qty: quantity,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                location.reload();
            },
            error: function(xhr, errmsg, err){}
        });
    })

    // Delete cart item
    $(document).on('click', '.deleteItem', function(e){
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '{% url "cart:cartDelete" %}',
            data:{
                product_id: $(this).data('index'),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                location.reload();
            },
            error: function(xhr, errmsg, err){}
        });
    });
</script>

{% endblock %}