{% extends 'core/base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
    <div class="container-fluid p-4 bg-gray-100 rounded-xl text-center mt-5 mb-5">
        <h1 class="text-3xl font-bold text-pink-600">Shopping Cart</h1>

        <div class="container-fluid p-4 rounded-xl mt-5 mb-5 d-flex justify-content-center">
            <div class="d-flex flex-column align-items-center w-100">
                {% if cartItems %}
                    {% for item in cartItems %}
                        <div class="card mb-3" style="max-width: 1000px;">
                            <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ item.image.url }}" class="img-fluid rounded-start" alt="{{ item.name }}">
                            </div>
                            <div class="col-md-8 d-flex align-items-center">
                                <div class="card-body">
                                <h5 class="card-title font-semibold text-xl">{{ item.name }}</h5>
                                <small class="card-text text-gray-400 mt-2 mb-2">{{ item.description }}</small><br>
                                <br><p class="card-text">Price: {{ item.price }}</p><br>
                                <div class="row justify-content-center">
                                    <div class="col-md-2">
                                    <p class="text-lg">Quantity:</p>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-select" id="select{{ item.id }}">
                                            <option selected>
                                                {% for key, value in quantities.items %}
                                                    {% if key == item.id|slugify %}
                                                        {{ value }}
                                                    {% endif %}
                                                {% endfor %}
                                            </option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" data-index="{{ item.id }}" class="btn text-lg font-semibold bg-pink-400 text-white rounded-xl hover:bg-pink-600 updateCart">Update</button>
                                    </div>
                            </div>
                                
                            </div>
                            </div>
                            </div>

                            
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-lg"><em>Your cart is empty</em></p>
                    <br><br><br><br><br><br><br><br><br><br><br><br>
                {% endif %}
            </div>
          </div>




<script>
    // Check if the button is clicked
    $(document).on('click', '.updateCart', function(e){
        e.preventDefault();
        // Grab the item id
        var itemId = $(this).data('index');
        var quantity = $('#select' + itemId + ' option:selected').text();

        $.ajax({
            type: 'POST',
            url: '{% url "cart:cartUpdate" %}',
            data:{
                product_id: itemId,
                product_qty: quantity,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                location.reload();
            },
            error: function(xhr, errmsg, err){}
        });
    });
</script>

{% endblock %}