{% extends 'core/base.html'%}
{% block title %}Front page{% endblock %}

{% block content %}

	<!-- CAROUSEL -->
		<div class="container-fluid px-0">
		<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

			<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
			</div>
			
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="media\othermedia\couple.png" class="d-block w-85" alt="Just married couple">
				</div>
				<div class="carousel-item">
					<img src="media/othermedia/venue.png" class="d-block w-100" alt="Wedding venue">
				</div>
				<div class="carousel-item">
					<img src="media/othermedia/couplestaring.png" class="d-block w-100" alt="Just married couple staring at the views">
				</div>
				<div class="carousel-item">
					<img src="media/othermedia/venue2.png" class="d-block w-100" alt="Venue chairs">
				</div>
				<div class="carousel-item">
					<img src="media/othermedia/gettingready.png" class="d-block w-100" alt="Bride getting ready">
				</div>
				<div class="carousel-item">
					<img src="media/othermedia/weddingcake.png" class="d-block w-100" alt="Wedding cake">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	<!-- END CAROUSEL -->

	<!-- MAIN CONTAINER -->
	<div class="container-fluid p-4">

		<!-- WELCOME -->
		<div class="container-fluid text-center d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
			<img src="media\othermedia\WeddingWizard.png" alt="Wedding Wizard" width="150" height="150">
			<h1 class="text-4xl font-semibold mt-4">Welcome to Wedding Wizard</h1>
			<p class="text-lg">Your one-stop shop for all things wedding</p>
		</div>			
		<!-- END WELCOME -->

		<!-- ABOUT US -->
		<div class="container-fluid text-center d-flex flex-column align-items-center justify-content-center mb-4 p-4" style="height: 100vh;">
			<h1 class="text-4xl font-semibold mt-4 text-pink-700">About us</h1>
			<p class="text-3xl mt-4 text-pink-600">Welcome to WeddingWizard, your ultimate partner in creating the wedding of your dreams with zero hassle. <br/><br/>
				We understand that planning a wedding can be overwhelming, which is why we've developed an innovative, all-in-one online service to make the process as smooth as possible. With WeddingWizard, there's no need for endless meetings or complicated planning sessions. <br/><br/>
				Simply browse our extensive catalog of wedding essentials, add your desired products to your cart, and let us handle the details. From decorations to catering, we ensure everything you choose is delivered and set up perfectly on your special day.<br/><br/>
				Our goal is to provide you with a stress-free experience so you can focus on celebrating love and creating unforgettable memories.</p>
		</div>	
		<!-- END ABOUT US -->

		<!-- HAPPY CLIENTS -->
		<div class="container-fluid p-4 text-center">
			<h1 class="text-4xl font-semibold p-6"> Client's Experiences</h1>
		
			<div class="row mt-4">
				<div class="col">
					<div class="card" style="width: 13rem;">
						<img src="media\othermedia\CoupleJuanANDMaria.png" class="card-img-top" alt="Juan and Maria">
						<div class="card-body">
							<h5 class="card-title font-semibold mb-3 text-xl">Juan and Maria</h5>
							<p class="card-text text-left">"WeddingWizard made our wedding planning a breeze! From the very beginning, they guided us through each step with ease. We never felt overwhelmed, and their attention to detail was impeccable. Our special day was perfect thanks to their professional and friendly service."</p>
						</div>
					</div>
				</div>
		
				<div class="col">
					<div class="card" style="width: 13rem;">
						<img src="media\othermedia\CoupleAndresANDCatalina.png" class="card-img-top" alt="Andres and Catalina">
						<div class="card-body">
							<h5 class="card-title font-semibold mb-3 text-xl">Andrés and Catalina</h5>
							<p class="card-text text-left">"We were dreading the complexity of wedding planning, but WeddingWizard transformed it into an enjoyable experience. Their platform is so user-friendly, and the team was always available to help. They took all the stress out of the process, allowing us to focus on enjoying our engagement."</p>
						</div>
					</div>
				</div>
		
				<div class="col">
					<div class="card" style="width: 13rem;">
						<img src="media\othermedia\CoupleCarlosANDLuisa.png" class="card-img-top" alt="Carlos and Luisa">
						<div class="card-body">
							<h5 class="card-title font-semibold mb-3 text-xl">Carlos and Luisa</h5>
							<p class="card-text text-left">"Planning our wedding was incredibly smooth with WeddingWizard. The entire process was well-organized, and their suggestions were spot on. We especially loved the personalized touch they brought to our wedding. It was so much easier than we ever imagined!"</p>
						</div>
					</div>
				</div>
		
				<div class="col">
					<div class="card" style="width: 13rem;">
						<img src="media\othermedia\CoupleDiegoANDNatalia.png" class="card-img-top" alt="Diego and Natalia">
							<div class="card-body">
								<h5 class="card-title font-semibold mb-3 text-xl">Diego and Natalia</h5>
								<p class="card-text text-left">"WeddingWizard exceeded our expectations. They made everything so simple and straightforward. Their expertise helped us make informed decisions without feeling overwhelmed. We felt supported every step of the way, which made our wedding planning enjoyable and stress-free."</p>
							</div>
					</div>
				</div>

				<div class="col">
					<div class="card" style="width: 13rem;">
						<img src="media\othermedia\CoupleAlejandroANDValentina.png" class="card-img-top" alt="Alejandro and Valentina">
						<div class="card-body">
							<h5 class="card-title font-semibold mb-3 text-xl">Alejandro and Valentina</h5>
							<p class="card-text text-left">"From our first consultation with WeddingWizard, we knew we were in good hands. Their website made the planning process seamless. We appreciated how they took care of all the details, leaving us to enjoy the fun parts of planning our wedding."</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row mt-4 mb-4">
				<div class="col">
					<div class="card" style="width: 13rem;">
						<img src="media\othermedia\CoupleMateoANDLaura.png" class="card-img-top" alt="Mateo and Laura">
							<div class="card-body">
								<h5 class="card-title font-semibold mb-3 text-xl">Mateo and Laura</h5>
								<p class="card-text text-left">"We can't thank WeddingWizard enough for making our wedding planning so easy. Their system is incredibly intuitive, and the staff is always ready to assist. We avoided all the usual stress and truly enjoyed planning our special day together."</p>
							</div>
					</div>
				</div>

				<div class="col">
					<div class="card" style="width: 13rem;">
							<img src="media\othermedia\CoupleSantiagoANDDaniela.png" class="card-img-top" alt="Santiago and Daniela">
							<div class="card-body">
								<h5 class="card-title font-semibold mb-3 text-xl">Santiago and Daniela</h5>
								<p class="card-text text-left">"WeddingWizard turned what could have been a daunting task into a wonderful experience. Their comprehensive planning tools and expert advice meant we never felt lost or overwhelmed. Our wedding was beautiful, and it’s all thanks to their fantastic service."</p>
							</div>
					</div>
				</div>
		
				<div class="col">
					<div class="card" style="width: 13rem;">
						<img src="media\othermedia\CoupleManuelANDLuisa.png" class="card-img-top" alt="Manuel and Luisa">
							<div class="card-body">
								<h5 class="card-title font-semibold mb-3 text-xl">Manuel and Luisa</h5>
								<p class="card-text text-left">"We can't thank WeddingWizard enough for making our wedding planning so easy. Their system is incredibly intuitive, and the staff is always ready to assist. We avoided all the usual stress and truly enjoyed planning our special day together."</p>
							</div>
					</div>
				</div>

				<div class="col">
					<div class="card" style="width: 13rem;">
						<img src="media\othermedia\CoupleSebastianANDCarolina.png" class="card-img-top" alt="Sebastian and Carolina">
						<div class="card-body">
							<h5 class="card-title font-semibold mb-3 text-xl">Sebastián and Carolina</h5>
							<p class="card-text text-left">"WeddingWizard’s service was exceptional. They made the entire planning process straightforward and stress-free. We loved how organized and efficient everything was, from the planning stages to the day of our wedding. It allowed us to enjoy every moment leading up to our big day."</p>
						</div>
					</div>
				</div>
		
				<div class="col">
					<div class="card" style="width: 13rem;">
						<img src="media\othermedia\CoupleAnaANDCamila.png" class="card-img-top" alt="Ana and Camila">
							<div class="card-body">
								<h5 class="card-title font-semibold mb-3 text-xl">Ana and Camila</h5>
								<p class="card-text text-left">"WeddingWizard made planning our wedding an absolute joy. They catered to our every need with such grace and efficiency. We never felt overwhelmed, and their supportive approach made all the difference. Our wedding day was perfect, thanks to their amazing team."</p>
							</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END HAPPY CLIENTS -->

		<!-- TIPS -->
		<!-- END TIPS -->

		<!-- OUR SERVICES -->
		<!-- END OUR SERVICES -->

		</div>
	</div>
	<!-- END MAIN CONTAINER -->

{% endblock %}