{% extends 'core/base.html' %}
{% block title %}Profile{% endblock %}

{% block content %}

<div class="container-fluid mt-6 px-6 py-12 bg-pink-50 rounded-xl mb-12 mr-5 ml-5">
    <h1 class="mb-12 text-4xl text-center text-bold text-pink-600 ">Edit profile</h1>

    <h3 class="mb-12 text-2xl text-semibold">Hello {{ profile.partner1_name }} and {{ profile.partner2_name }}!</h3>

    <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <div class="container-fluid">
                <p class="mb-4 text-lg">Your current email is: {{ user.email }}</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="fluid-container mb-4">
                        <div class="flex items-center">
                            <label for="email" class="form-label mr-2 text-lg">New email:</label>
                            <input type="email" name="email" value="{{ user.email }}" class="form-control w-80 mr-2" id="email">
                            <button type="submit" class="px-6 py-3 text-lg font-semibold bg-pink-400 text-white rounded-xl hover:bg-pink-600 ml-2">Update Email</button>
                        </div>
                    </div>
                </div>
            </form>
          </div>

          <div class="col-6">
            <div class="fluid-container bg-white rounded-xl w-100 text-center" style="display: flex; flex-direction: column; align-items: center;">
                <h2 class="text-lg text-pink-500 font-semibold p-2">Change Language</h2>
                <div id="google_translate_element" class="google-translate" style= "weight: 100px; height: 100px;margin-bottom: 30px; display: flex; justify-content: center; align-items: center;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid p-3">
        <h2 class="text-lg font-bold">Delete Account</h2>
        </br>
        <p class="mb-4">If you want to delete your account, click the button below.</p>
        </br>
        <a href="{% url 'core:deleteAccount' %}" class="mt-4 mb-4 px-6 py-3 text-lg font-semibold bg-pink-400 text-white rounded-xl hover:bg-pink-600">Delete My Account</a>
      </div>
</div>
{% endblock %}