{% extends 'core/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="w-1/2 my-3 mx-auto p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl text-center">Sign Up</h1>

        <form method="post" action=".">
            {% csrf_token %}
            
            <div class="my-6 mx-auto text-xl">
                <label class="block mb-2 text-xl">Username</label>
                {{ form.username }}
            </div>

            <div class="my-6 mx-auto text-xl">
                <label class="block mb-2">Email</label>
                {{ form.email }}
            </div>

            <div class="row my-6">
                <div class="col-md-6 form-group text-xl">
                    <label class="block mb-2">Password</label>
                    {{ form.password1 }}
                </div>
                <div class="col-md-6 form-group text-xl">
                    <label class="block mb-2">Confirm password</label>
                    {{ form.password2 }}
                </div>
            </div>

            <div class="row my-6">
                <div class="col-md-6 form-group text-xl">
                    <label class="block mb-2">Your name</label>
                    {{ form.partner1_name }}
                </div>
                <div class="col-md-6 form-group text-xl">
                    <label class="block mb-2">Your partner's name</label>
                    {{ form.partner2_name }}
                </div>
            </div>

            <div class="row my-6">
                <div class="col-md-6 form-group text-xl">
                    <label class="block mb-2">Your birth year</label>
                    {{ form.birth_year1 }}
                </div>
                <div class="col-md-6 form-group text-xl">
                    <label class="block mb-2">Your partner's birth year</label>
                    {{ form.birth_year2 }}
                </div>
            </div>

            {% if form.errors or form.non_field_errors %}
                <div class="mb-6 p-6 mx-auto bg-red-100 rounded-xl">
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <button type="submit" class="block mx-auto p-2 bg-pink-500 hover:bg-pink-700 text-white font-bold rounded">Sign Up</button>
        </form>
    </div>   
    
    <p>{{ message }}</p>
{% endblock %}
